  
  .jumbotron {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    /* border: 1px dashed deeppink; */
  }

  h1 {
    position: center;
  }

  .btn-default {
    box-shadow: 1px 2px 5px #000000;   
}